[user]
	email = mtjuney@gmail.com
	name = mtjuney

[ghq]
	root = ~/repo/src

[core]
	excludesfile = ~/.dotfiles/components/git/gitignore_global

[include]
	path = ~/.local.gitconfig
[init]
	templatedir = ~/.dotfiles/components/git/git_template
[url "git@github.com:"]
	insteadOf = https://github.com/
